@model POC.DataAccess.Model.ProductDetailView
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
   .datatables-footer {
        display: none !important;
    }
    .tab-content label {
        font-weight:bold !important;
    }
    .background-fill {
        background-color: whitesmoke;
        border-radius: 25px;
    }
    .dataTables_filter label {
        width: 100% !important;
    }
    #tblEvents.dataTable th {
        visibility:hidden;
    }
    #tblEvents.dataTable {
        width:100% !important;
    }
    #tblEvents_filter.dataTables_filter {
        width:100%;
        padding:0px;
         
    }
    table.dataTable.no-footer {
        border:0px;
    }
</style>
@if (Model.result != null)
{
    var product = @Model.result?.productVC?.credentialSubject?.product;
    var credentialsubject = @Model.result?.productVC?.credentialSubject;
    var lstSpecification = @Model.result?.productSpecs;
    var eventlst = Model.result.events;
    var res = @Model.result;
    <div class="tabbable boxed parentTabs p-4">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#set1" class="nav-link">Overview</a>
            </li>
            <li>
                <a href="#set2" class="nav-link">Events</a>
            </li>
            <li>
                <a href="#media" class="nav-link">Documents</a>
            </li>
            @*<li>
                    <a href="#origin" class="nav-link">Origin</a>
                </li>
                <li>
                    <a href="#carbon" class="nav-link">Carbon</a>
                </li>*@
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" style="height:700px !important;" id="set1">
                <div class="col-md-12 form-group">
                    <div class="col-md-4 background-fill">
                        <label class="control-label">Product Type</label><br />
                        @product.name
                    </div>
                    <div class="col-md-4 background-fill">
                        <label class="control-label">Technology Type</label><br />
                        @credentialsubject.technologyType
                    </div>
                    <div class="col-md-4 background-fill">
                        <label class="control-label">Heat No</label><br />
                        @if (string.IsNullOrEmpty(credentialsubject.heatNumber))
                        {
                            @:N/A
                        }
                        else
                        {
                            @credentialsubject.heatNumber
                        }

                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <div class="col-md-4 background-fill">
                        <label class="control-label">Weight</label><br />
                        @product.weight.value.ToString()  @product.weight.unitCode
                    </div>
                    <div class="col-md-4 background-fill">
                        <label class="control-label">HS Code</label><br />
                        @credentialsubject.HSCode
                    </div>
                    <div class="col-md-4 background-fill">
                        <label class="control-label">Sku</label><br />
                        @if (string.IsNullOrEmpty(credentialsubject.sku))
                        {
                            @:N/A
                        }
                        else
                        {
                            @credentialsubject.sku
                        }
                    </div>
                </div>
                <div class="col-md-12  form-group">
                    <div class="col-md-4 background-fill">
                        <label class="control-label">Origin-Location</label><br />
                        @res.origin.address.addressLocality ,  @res.origin.address.addressRegion ,  @res.origin.address.addressCountry
                    </div>
                    <div class="col-md-4 background-fill">
                        <label class="control-label">Grade</label><br />
                        @if (string.IsNullOrEmpty(credentialsubject.grade))
                        {
                            @:N/A
                        }
                        else
                        {
                            @credentialsubject.grade
                        }

                    </div>
                    <div class="col-md-4 background-fill">
                        <label class="control-label">Current Location</label><br />
                        @if (credentialsubject.facility.address != null)
                        {
                            @:N/A
                        }
                        else
                        {
                            @credentialsubject.facility.address.addressCountry
                        }
                    </div>
                </div>
                <div class="col-md-12  form-group">
                    <div class="col-md-4 background-fill">
                        <label class="control-label">Transfer Location</label><br />
                        N/A
                    </div>
                    <div class="col-md-4 background-fill">
                        <label class="control-label">Anamoly Detected</label><br />
                        Carbon Outlier

                    </div>
                    <div class="col-md-4 background-fill">
                        <label class="control-label">Status</label><br />
                        @if (string.IsNullOrEmpty(res.status))
                        {
                            @:N/A
                        }
                        else
                        {
                            @res.status
                        }
                    </div>
                </div>
                <div class="col-md-12">
                    @if (lstSpecification != null)
                    {
                        <table class="table table-condensed table-bordered">
                            <div style="color:black;font-weight:bold;text-align:center;margin-bottom:10px;">Product Specification</div>
                            <thead>
                                <tr>
                                    <th>Charachteristics</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in lstSpecification)
                                {
                                    <tr>
                                        <td>@item.property.description</td>
                                        <td>@item.measurement.value @item.measurement.unitCode</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }

                </div>

                @*<div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#sub11" class="nav-link">PopularAll</a>
                            </li>
                            <li>
                                <a href="#sub12" class="nav-link">UniqueAll</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="sub11">
                                <p>pop all content</p>
                            </div>
                            <div class="tab-pane fade" id="sub12">
                                <p>unique all content</p>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="tab-pane fade" style="min-height:300px;" id="set2">
                <div class="col-md-12 form-group" style="margin-left:-35px !important;">
                    <div class="col-md-6">
                        @if (eventlst != null)
                        {
                            <table class="table table-condensed table-striped" id="tblEvents">
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in eventlst)
                                    {
                                        <tr>
                                            <td>
                                                <b>@item.eventType Product</b><br />
                                                Submitted by: @item.eventVC.credentialSubject.initiator.name<br />
                                                @item.eventVC.credentialSubject.place.address.addressLocality ,  @item.eventVC.credentialSubject.place.address.addressRegion ,  @item.eventVC.credentialSubject.place.address.addressCountry <br />
                                                <p class="rounddiv">@item.eventVC.issuanceDate.ToString("yyyy-MMM-dd")</p>  <p class="rounddiv">@item.eventVC.issuanceDate.ToString("hh:mm tt")</p>
                                            </td>

                                        </tr>
                                        <tr class="col-md-12" style="margin-top:10px;"></tr>
                                        <tr>
                                            <td>
                                                <b>@item.eventType Product</b><br />
                                                Submitted by: @item.eventVC.credentialSubject.initiator.name<br />
                                                @item.eventVC.credentialSubject.place.address.addressLocality ,  @item.eventVC.credentialSubject.place.address.addressRegion ,  @item.eventVC.credentialSubject.place.address.addressCountry <br />
                                                <p class="rounddiv">@item.eventVC.issuanceDate.ToString("yyyy-MMM-dd")</p>  <p class="rounddiv">@item.eventVC.issuanceDate.ToString("hh:mm tt")</p>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="media">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#sub21" class="nav-link">PopularBrands</a>
                        </li>
                        <li>
                            <a href="#sub22" class="nav-link">UniqueBrands</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="sub21">
                            <p>pop brand content</p>
                        </div>
                        <div class="tab-pane fade" id="sub22">
                            <p>unique brand content</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">
        $("ul.nav-tabs a").click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
        $(document).ready(function () {
            var input = $('#tblEvents_filter label input');
            $("#tblEvents_filter label").html('');
            $("#tblEvents_filter label").append(input);
            //$("#tblEvents_wrapper div > div.col-sm-12 col-md-6").remove();
            $("div > div", "#tblEvents_wrapper")[0].remove();
            $("div > div", "#tblEvents_wrapper").removeClass('col-sm-12');
            $("div > div", "#tblEvents_wrapper").removeClass('col-md-6');
            $("div > div", "#tblEvents_wrapper").addClass('col-md-12');
        });
    </script>

}

